{
    "remote_config": {
        "driver_type": "dnp3",
        "outstation_ip": "127.0.0.1",
        "port": 20000,
        "master_id": 2,
        "outstation_id": 1,
        "control_mode": "direct",
        "read_mode": "class",
        "poll_classes": [0],
        "integrity_poll_interval": 3600,
        "unsolicited": false
    },
    "registry_config": "config://dnp3.csv",
    "interval": 5,
    "timezone": "UTC",
    "publish_depth_first_all": true
}
